<!DOCTYPE html>
<html>

<head>
	<title>Take a picture</title>
	<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen"></link>
	<link rel="shortcut icon" href="/static/favicon.ico"></link>
	<script src="/static/scriptpicture.js"></script>
</head>

<body>
	<table>
		<tr>
			<td colspan=2>
				<img alt="picture" id="foto" src="">
			</td>
		</tr>
		<tr>
			<td style="text-align: right">
				<br>
				<a id="fotolink" href="" download>
					<img class ="im1" alt="download" src="/static/download.png">
				</a>
			</td>
			<td style="text-align: left">
				<br>
				<p>&nbsp;&nbsp; Download</p>
			</td>
		</tr>
	</table>
</body>
